body {
    background-color: #FFF3C7;
    padding: 200px;
}

.parent {
    width: 100%;
    height: 500px;
    display: flex;
    gap: 5px;
    background-color: #FEC7B4;
    justify-content: space-around;
}

.child {
    width: 200px;
    height: 200px;
    background-color: #FC819E;
}